<table id="hor-minimalist-a">
  <tbody>
    <% @pastes.each do |paste| %>
      <tr>
        <td><%= link_to paste.name, paste %></td>
        <td><%= paste.language.name %></td>
        <td><%= link_to "Delete Paste", paste, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>